.container {
  min-height: 100vh;
  padding: 20px 16px 40px;
  background-color: #fff9e6;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

.title {
  justify-content: center;
  width: 100%;
  padding-right: 140px;
  padding-left: 140px;
  margin-bottom: 20px;
  font-size: clamp(20px, 8vw, 40px); /* レスポンシブなフォントサイズ */
  font-weight: 900;
  color: transparent;
  text-align: center;
  background: black;
  background-clip: text;
  background-size: 100% 100%;
  animation: gradient 10s ease infinite;
}
